.price-time {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 2% 0;




}

.price {
    width: 45%;
    display: flex;
    justify-content: flex-start;

    align-items: center;

    span {
        padding: 1%;
        font-size: 1.8em;
        color: #00FFF8;

    }

}

.time {
    width: 45%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    span {
        padding: 1%;
        font-size: 1.8em;
        color: #8BACD9;

    }
}

.line {
    width: 100%;
    background-color: #3c516e;
    height: 5px;
    margin: 2%;
}

@media (max-width:375px) {
    .price span {
        font-size: 1em;
    }

    .time span {
        font-size: 1em;
    }
}